@inject CloudPage CloudPage
@{
    CloudPage.OnModified += StateHasChanged;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <SectionOutlet SectionName="CloudWeb" @rendermode="new InteractiveAutoRenderMode(false)" />
    <HeadOutlet @rendermode="new InteractiveAutoRenderMode(false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveAutoRenderMode(false)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>