@inject CloudPage CloudPage
@{
    CloudPage.OnModified += StateHasChanged;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <SectionOutlet SectionName="CloudWeb"/>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>