<nav class="nav">
    <div class="nav-group">
        <span class="nav-label">Getting Started</span>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
    </div>
    <div class="nav-group">
        <span class="nav-label">Features</span>
        <NavLink class="nav-link" href="metadata">Page Metadata</NavLink>
        <NavLink class="nav-link" href="bundles">Asset Bundles</NavLink>
        <NavLink class="nav-link" href="features">CDN Features</NavLink>
        <NavLink class="nav-link" href="robots">Robots Control</NavLink>
        <NavLink class="nav-link" href="crawler">Crawler Detection</NavLink>
    </div>
</nav>
